---
import Icon from './icon/Icon.astro';
const {elemId, menuLabel, menuItems, side} = Astro.props;
const menuId = elemId + '-menu';
const buttonId = elemId + '-button';
---
<div class="group float-left menu-container inline-block relative lg:mx-3 z-50">
  <div class="mb-1 text-base lg:mb-0">
    <button type="button" class="font-medium gap-x-1.5 group hover:text-indigo-500 inline-flex text-base text-white" id={buttonId}
            aria-expanded="true" aria-haspopup="true">
      <label class="ease-in font-bold group-hover:text-indigo-500 text-sm">{menuLabel}</label>
      <Icon name="down-chevron"/>
    </button>
  </div>
  <div
    style={side === "left" ? "right: 0;" : "left: 0;"}
    class:list={[side === "left" ? "origin-top-right" : "origin-top-left", "opacity-0 group-hover:opacity-100 group-hover:scale-100 scale-[.25] z-10 mr-3 absolute duration-300 menu-content transition bg-white -mt-1 outline-none right-0 rounded-md shadow-xl text-base top-10 w-48"]}
    role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1" id={menuId}>
    <div role="none" class="py-2">
      <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
      {menuItems && menuItems.map(menuItem =>
        <a href={menuItem.href} class="block font-semibold hover:text-indigo-600 px-4 py-2 text-slate-700 text-sm" role="menuitem" tabindex="-1">
          {menuItem.name}
        </a>
      )}
    </div>
  </div>
</div>

