---
import Icon from '../icon/Icon.astro';
import NavButton from './NavButton.astro';
import MoreMenu from '../MoreMenu.astro';
import Search from "../Search.astro";

interface HeaderItem {
  name: string;
  href: string;
}

interface NavProps {
  sectionTitle: string,
  sectionTitleHref: string,
  categoryItems: HeaderItem[],
  moreItems: HeaderItem[],
  categoryLabel: string,
  buttons: string[],
  colorThemeOverride: string
}

const {sectionTitle, sectionTitleHref, categoryItems, moreItems, categoryLabel, buttons, colorThemeOverride}: NavProps = Astro.props;
---
<!-- Header w/ border on bottom, full width and is sticky -->
<nav class="bg-slate-900 block border-slate-700 border-b border-solid h-auto sticky text-left top-0 z-50 xl:shadow-lg">
  <div class="flex justify-between max-w-8xl mx-auto px-4 py-2 lg:container">
    <!-- Logo -->
    <div class="flex place-items-center">
      <a href="/" class="ease-in mr-1 opacity-100 hover:opacity-70 transition-opacity">
        <img src="/img/logo/fa_logo_purple_orange.svg" alt="Logo" class={"h-12 " + (colorThemeOverride === "light" ? "inline" : colorThemeOverride === "dark" ? "hidden": "dark:hidden")}>
        <img src="/img/logo/fa_logo_white_orange.svg" alt="Logo" class={"h-12 " + (colorThemeOverride === "light" ? "hidden" : colorThemeOverride === "dark" ? "inline" : "dark:inline hidden")}>
      </a>
      <span class="font-light text-2xl text-slate-500">/</span>
      <a href={ sectionTitleHref }
         class="ease-in font-bold hover:text-slate-400 ml-2 text-2xl text-white tracking-tight transition-colors">
        <span>{ sectionTitle }</span>
      </a>
    </div>
    <div class="flex items-center lg:hidden">
      <!-- Mobile menu button -->
      <button class="mx-3" data-widget="search-button">
        <span class="sr-only">Open search</span>
        <Icon name="search"/>
      </button>
      <button type="button" id="mobile-menu-btn" data-widget="visibility-button" data-element="mobile-menu-nav"
              class="focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white hover:bg-gray-700 hover:text-white inline-flex items-center justify-center p-2 rounded-md text-gray-400"
              aria-controls="mobile-menu" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <Icon name="mobile-menu"/>
      </button>
    </div>
    <!-- Menu -->
    <div
      class="absolute bg-white dark:bg-slate-900 h-screen hidden left-0 lg:bg-transparent lg:dark:bg-transparent lg:flex lg:h-auto lg:items-center lg:ml-auto lg:p-0 lg:static p-6 right-0 top-0">
      <ul class="space-y-6 lg:flex lg:items-center lg:space-y-0">
        <MoreMenu elemId="category" menuLabel="Blog Categories" menuItems={categoryItems}/>
        <MoreMenu elemId="more" menuLabel="More" menuItems={moreItems}/>
      </ul>
      <div class="flex items-center">
        {buttons && buttons.map(button =>
          <NavButton name={button}/>)}
      </div>
    </div>
  </div>
  <div class="block shadow-md md:shadow-md lg:hidden" id="mobile-menu">
    <p class="block font-semibold px-3 py-2 text-lg text-white">{categoryLabel}</p>
    <div class="group-hover:duration-200 p-2 space-y-1">
      <div class="mb-5 ml-2">
        {categoryItems && categoryItems.map(cat =>
          <a href={cat.href}
             class="block border-l-2 border-slate-700 border-solid font-semibold hover:border-indigo-500 hover:border-l-2 hover:border-solid hover:ease-linear hover:text-indigo-500 hover:transition-colors px-3 py-2 relative text-base text-white">{cat.name}</a>
        )}
      </div>
    </div>
    <p class="block font-semibold pb-2 px-3 text-lg text-white">More</p>
    <div class="group-hover:duration-200 p-2 shadow-2xl space-y-1">
      <div class="mb-5 ml-2">
        {moreItems && moreItems.map(more =>
          <a href={more.href}
             class="block border-l-2 border-slate-700 border-solid font-semibold hover:border-indigo-500 hover:border-l-2 hover:border-solid hover:ease-linear hover:text-indigo-500 hover:transition-colors px-3 py-2 relative text-base text-white">{more.name}</a>
        )}
      </div>
      <hr class="border-slate-700 border-t-2 h-px"/>
      <div>
        <a href="/contact"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-3 py-2 rounded-md text-base text-white">Talk
          To An Expert</a>
        <a href="/account"
           class="block font-semibold hover:ease-linear hover:text-indigo-500 hover:transition-colors px-3 py-2 rounded-md text-base text-white">Login</a>
      </div>
    </div>
  </div>
</nav>
<Search/>
<script>
  import PopoutMenu from './PopoutMenu.js';

  new PopoutMenu('category');
  new PopoutMenu('more');
</script>
